*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap');
body{
    margin: 10px;
}
.cabecalho{
    background-color: grey;
    color: #ffffff;
    text-transform: capitalize;
    text-align: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
h1{
    font-family: 'Merriweather', serif;
    padding-left: 10px;
}
.rodape{
    background-color: grey;
    color: #ffffff;
    text-align: left;
    font-weight: lighter;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.rodape span{
    font-family: 'Merriweather', serif;
    padding-left: 10px;
}
.main-content{
    font-family: 'Open Sans Condensed', sans-serif;
    border-left-style: solid;
    border-width: 1px;
    border-color: #808080;
    padding: 30px 10px;
    width: 50%;
    margin-left: 145px;
}
p{
    margin-bottom: 10px;
}
h3{
    margin-bottom: 20px;
}
.navigation-bar{
    margin: 10px;
    float: left;
}
.navigation-bar li{
    background-color: #d3d3d3;
    display: block;
    margin-bottom: 1px;
    width: 125px;
    height: 50px;
}
.navigation-bar a{
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    padding-left: 15px;
    line-height: 50px;
    color: #000000;
}