@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Uchen&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 10px 60px 10px 60px;
}
h1,h2,h3,h4,h5,h6,p,span,img,a{
    margin: 5px;
    padding: 5px;
}
h2,h4{
    font-family: 'Uchen', serif;
}
p{
    font-family: 'Mukta', sans-serif;
}
.list-span{
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffffff;
}
.margin-padding{
    margin: 0;
    padding: 0 3px 0 3px;
}
.grid{
    display: grid;
}
.template-rows-body{
    grid-template-rows: auto auto auto;
    row-gap: 10px;
}
.elemento-grid-1{
    grid-template-columns: auto 80%;
    column-gap: 10px;
}
.sprite{
    background-image: url(spritesheet-1.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite-Marte{
    background-position: -5px -105px;
    width: 200px;
    height: 146px;
}
.sprite-elonMuskMarte{
    background-position: -225px -5px;
    width: 340px;
    height: 266px;
    z-index: auto;
    position: relative;
}
.sprite-ExploracaoEspacialMarte{
    background-position: -5px -5px;
    width: 210px;
    height: 90px;
}
.sprite-2 {
    background-image: url(spritesheet-2.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite-Nasa {
    background-position: -135px -5px;
    width: 130px;
    height: 100px;
}
.sprite-ElonVsJeff {
    background-position: -5px -5px;
    width: 120px;
    height: 88px;
}
.sprite-blueOrigin {
    background-position: -5px -115px;
    width: 120px;
    height: 88px;
}
.div-2-header-grid-rows{
    grid-template-rows: 33.33% 33.33% 33.33%;
}
.list-inline li{
    display: inline;
    float: right;
    margin-right: 3px;
}
.list-inline-block li{
    display: inline-block;
    margin-right: 3px;
}
.second-line-header{
    grid-template-columns: 1fr auto;
    justify-items: end;
    justify-content: end;
}
.third-line-header ul{
    position: relative;
    top: 6px;
}
.third-line-header li{
    border-style: solid;
    border-width: 2px;
    margin-right: 5px;
}
.third-line-header a{
    text-decoration: none;
    color: #000;
}
.item-1 a{
    color: #000;
    background: #808080;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    box-shadow: 3px 3px 5px #000;
    font-size: .7em;
}
.item-1 a{
    position: relative;
    left: -15px;
}
.position-sprite{
    position: relative;
    top: -15px;
}
.item-3{
    grid-column: 2;
}
.elemento-grid-2{
    grid-template-columns: auto auto;
    column-gap: 10px;
}
.sidebar-1{
    grid-template-rows: auto auto auto;
    row-gap: 5px;
}

/*
.sidebar-1 h4{
    max-width: 100px;
}
.sidebar-1 li{
    max-width: 100px;
}
*/
.list-block li{
    display: block;
    border: solid 2px;
    margin-bottom: 10px;
}
.list-decoration-none{
    background: #D3D3D3;
}
.list-decoration-none li{
    border-style: none;
    margin-bottom: 3px;
}
.list-decoration-none a{
    text-decoration: none;
}
.list-decoration-none{
    /*max-width: 100px;*/
    border-style: solid;
    border-width: 2px;
    margin: 2px 0 2px 0;
}
.colum-2{
    grid-template-areas: 
    "section aside-1"
    "article-1 aside-2"
    "article-2 aside-3";
    column-gap: 10px;
    row-gap: 10px;
}
.elem-1{
    grid-area: section;
    background: #D3D3D3;
}
.elem-2{
    grid-area: article-1;
    background: #D3D3D3;
}
.elem-3{
    grid-area: article-2;
    background: #D3D3D3;
}
.elem-4{
    grid-area: aside-1;
}
.elem-5{
    grid-area: aside-2;
    background: #48D1CC;
}
.elem-6{
    grid-area: aside-3;
    background: #48D1CC;
}
.main-content{
    grid-template-columns: 215px auto;
}
.main-content a{
    margin: 3px;
}
.main-content div a{
    line-height: 47px;
}
.main-content a:hover{
    color: #ff0000;
}
.elem-1 div{
    text-align: right;
}
.elem-5 .sprite-ElonVsJeff{
    position: relative;
    top: 20px;
}
.elem-6 .sprite-blueOrigin{
    position: relative;
    top: 15px;
}
.elem-5 h4 a{
    margin: 0;
    padding: 0;
}
.elem-6 h4 a{
    margin: 0;
    padding: 0;
}
.elem-5 h4{
    max-width: 150px;
}
.elem-6 h4{
    max-width: 150px;
}
.elem-5 h4 a{
    text-decoration: none;
    color: #000;
}
.elem-6 h4 a{
    text-decoration: none;
    color: #000;
}
.elem-5 h4 a:hover{
    text-decoration: underline;
    color: #ff0000;
}
.elem-6 h4 a:hover{
    text-decoration: underline;
    color: #ff0000;
}
.list-block .exploracao-espacial a{
    margin: 5px;
    padding: 5px;
}
.exploracao-espacial a{
    margin: 0;
    padding: 0;
}
.exploracao-espacial a{
    text-decoration: none;
    color: #000;
}
.exploracao-espacial a:hover{
    text-decoration: underline;
    color: #ff0000;
}
.sobre-z-index{
    max-width: 300px;
    z-index: 1;
    position: relative;
    background-color: grey;
    left: 40px;
    top: 100px;
    opacity: .7;
}
.elem-5{
    grid-template-columns: 125px auto;
}
.elem-6{
    grid-template-columns: 125px auto;
}
.elemento-grid-3{
    grid-template-columns: 45% 10% 45%;
    border-top-style: solid;
    border-width: 2px;
}
.div-1{
    margin-top: 10px;
}
#page-top{
    padding: 2px;
    border: solid 2px;
    background: #ffffff;
    color: #000;
    text-decoration: none;
}
#more-information{
    padding: 1px;
    border: solid 2px;
    background: #ffffff;
    color: #000;
    
}
.element a::after{
    content: "|";
    font-weight: bold;
    color: #000;
    position: relative;
    left: 10px;
}